.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pr-nav {
  height: 5vh;
  position: fixed;
  bottom: 10px;
  width: 100%;
}

.pr-nav button {
  width: 30%;
	height: 100%;
  margin-right: 15px;
}

.pr-nav a, .parks a {
  text-decoration: none;
  color: white;
  display: block;
  overflow: auto;
  height: 100%;
}

.pr-nav a {
  line-height: 4;
  font-size: 1.125em;
  font-weight: bold;
}

.btn {
  background-color: #222;
  color: white;
  border: none;
  border-radius: 6px;
}
.auth {
  line-height: 2;
  font-size: 1em;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  padding: 3px 10px;
}
.avatar {
  border-radius: 50%;
}
.log {
  background-color: green;
  line-height: 2;
  font-size: 1em;
  font-weight: bold;
  margin: 5px 15px;
  padding: 3px 12px;
}
.undo {
  background-color: red;
  line-height: 2;
  font-size: 1em;
  font-weight: bold;
  margin: 5px 15px;
  padding: 3px 15px;
}
